body, * {
	font-family: 'Akshar', sans-serif;
}

.principal-grid {
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	grid-template-columns: 1fr;
	width: 100%;
	height: auto;
	grid-template-areas: 
	"cabecalho"
	"noticias"
	".";
	grid-row-gap: 30px;
}

.cabecalho {
	display: inline-block;
	grid-area: cabecalho;
	width: 100%;
	height: 100%;
	background-color: #646464;
}

.naveg {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 70%;
	height: auto;
	position: relative;
	margin: 0px auto;
	grid-area: naveg;
}

.item-naveg {
	display: grid;
	grid-template-columns: 0.5fr 2fr;
	grid-template-rows: 0.4fr 1fr;
	grid-template-areas: 
	"icone-naveg titulo-naveg"
	"icone-naveg legenda-naveg";
	margin-left: 45px;
	padding: 15px;
}

.icone-naveg {
	grid-area: icone-naveg;
}

.icone-naveg img {
	padding: 5px;
	width: 50px;
}

.titulo-naveg {
	padding: 5px;
	grid-area: titulo-naveg;
}

.titulo-naveg a {
	text-decoration: none;
	color: black;
	text-align: left;
	font-size: 1.3em;
}

.legenda-naveg {
	padding: 5px;
	grid-area: legenda-naveg;
	text-align: left;
	font-size: 1.1em;
}

/*Aqui começa o CSS da página em questão*/
.conteudo-noticia {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-template-areas:
	". inicio-noticia"
	"menu-lateral texto-noticia";
	grid-row-gap: 30px;
	grid-column-gap: 20px;
	width: 60%;
	position: relative;
	margin: 0 auto;
}

.menu-lateral {
	grid-area: menu-lateral;
	display: inline-flex;
	flex-direction: column;
	padding: 1em;
}

.item-menu-lateral {
	line-height: 1.5em;
	font-size: 1.5em;
}

.item-menu-lateral a {
	text-decoration: none;
	color: black;
}

.inicio-noticia {
	grid-area: inicio-noticia;
	text-align: center;
	padding: 1em;
}

.titulo-noticia {
	font-size: 2.2em;
	font-weight: bold;
	line-height: 1.5em;
}

.subtitulo {
	font-size: 1.7em;
	font-weight: bold;
	line-height: 1.4em;
}

.texto-noticia {
	grid-area: texto-noticia;
	padding: 1em;
}

.paragrafo {
	text-align: justify;
	font-size: 1.5em;
	line-height: 1.5em;
}

.paragrafo:first-letter {
	margin-left: 1em;
}

.frase-destaque {
	text-align: center;
	font-size: 2.4em;
	line-height: 1em;
	margin: 1em 0;
}

em {
	font-style: italic;
}

.frase-destaque:first-letter {
	margin-left: 1em;
}

.rodape {
	background: black;
}

.mensagem-rodape {
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	padding: 1em;
	line-height: 1.5em;
	color: white;
}

em {
	font-style: italic;
}
