body, * {
	font-family: 'Akshar', sans-serif;
}

.principal-grid {
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	grid-template-columns: 1fr;
	width: 100%;
	height: auto;
	grid-template-areas: 
	"cabecalho"
	"formulario"
	"rodape";
	grid-row-gap: 30px;
}

.cabecalho {
	display: inline-block;
	grid-area: cabecalho;
	width: 100%;
	height: 100%;
	background-color: #646464;
}

.naveg {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 70%;
	height: auto;
	position: relative;
	margin: 0px auto;
	grid-area: naveg;
}

.item-naveg {
	display: grid;
	grid-template-columns: 0.5fr 2fr;
	grid-template-rows: 0.4fr 1fr;
	grid-template-areas: 
	"icone-naveg titulo-naveg"
	"icone-naveg legenda-naveg";
	margin-left: 45px;
	padding: 15px;
}

.icone-naveg {
	grid-area: icone-naveg;
}

.icone-naveg img {
	padding: 5px;
	width: 50px;
}

.titulo-naveg {
	padding: 5px;
	grid-area: titulo-naveg;
}

.titulo-naveg a {
	text-decoration: none;
	color: black;
	text-align: left;
	font-size: 1.3em;
}

.legenda-naveg {
	padding: 5px;
	grid-area: legenda-naveg;
	text-align: left;
	font-size: 1.1em;
}

.grid-formulario {
	display: grid;
	position: relative;
	width: 50%;
	margin: 0 auto 90px auto;
	grid-template-columns: 0.6fr 1fr;
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 1.5em;
	grid-template-areas:
	"titulo-formulario titulo-formulario"
	"nome-usuario mensagem-usuario"
	"email-usuario mensagem-usuario"
	"razao-contato mensagem-usuario"
	"noticias-email mensagem-usuario"
	"enviar enviar";
	grid-area: formulario;
}

.titulo-formulario {
	grid-area: titulo-formulario;
	font-size: 1.4em;
	text-align: center;
	align-self: center;
}

.nome-usuario {
	grid-area: nome-usuario;
	align-self: center;
}

.label-padrao {
	font-size: 1.2em;
	line-height: 1.5em;
}

.input-padrao {
	font-size: 1.2em;
	box-sizing: border-box;
	padding: 10px;
}

.email-usuario {
	grid-area: email-usuario;
	align-self: center;
}

.razao-contato {
	grid-area: razao-contato;
	align-self: center;
}

.select-razao {
	font-size: 1.2em;
	text-align: left;
}

.mensagem-usuario {
	grid-area: mensagem-usuario;
	align-self: top;
}

.texto-mensagem {
	resize: none;
	font-size: 1.2em;
	vertical-align: top;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
}

.noticias-email {
	grid-area: noticias-email;
	align-self: center;
}

.enviar {
	grid-area: enviar;
	background-color: lightgray;
	font-size: 1.5em;
	font-weight: bold;
	transition: 0.05s all;
}

.enviar:active {
	background-color: gray;
}

.rodape {
	background: black;
	grid-area: rodape;
}

.mensagem-rodape {
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	padding: 1em;
	line-height: 1.5em;
	color: white;
}

em {
	font-style: italic;
}
