body, * {
	font-family: 'Akshar', sans-serif;
}

.principal-grid {
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	grid-template-columns: 1fr;
	width: 100%;
	height: 250px;
	grid-template-areas: 
	"naveg"
	"."
	".";
}

.naveg {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	grid-area: naveg;
	width: auto;
	height: auto;
	margin: 0 auto;
	position: relative;
}

.item-naveg {
	display: grid;
	grid-template-columns: 0.5fr 2fr;
	grid-template-rows: 0.4fr 1fr;
	grid-template-areas: 
	"icone-naveg titulo-naveg"
	"icone-naveg legenda-naveg";
	margin-left: 45px;
}

.icone-naveg {
	padding: 5px;
	width: 50px;
	grid-area: icone-naveg;
}

.titulo-naveg {
	padding: 5px;
	grid-area: titulo-naveg;
	text-align: left;
	font-size: 1.3em;
}

.legenda-naveg {
	padding: 5px;
	grid-area: legenda-naveg;
	text-align: left;
	font-size: 1.1em;
}
